body { 
margin: 0px auto;
padding: 0px;
border-style: none;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-size: 0.7em;
 
}

a:link 
{
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}  

a:visited 
{
	color: #336699;
	font-weight: bold;
	text-decoration: none;
}

a:hover 
{
	color: #336699;
	font-weight: bold;
	text-decoration: underline;
}

.headerText
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 20px;
	color: #336699;  
	font-weight:bold; 
}

.headerText2
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #336699;  
	font-weight:bold; 
 
}

.headerText2_white
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;  
	font-weight:bold; 
	
}

.headerText2_gold
{
    
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #FFCB00;  
	font-weight:bold; 
	
}

.headerText2_red
{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #7F0000;  
	font-weight:bold; 
	
}

.underline
{
	text-decoration:underline;
}

h1 {font-size: 1.4em;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-weight: bold;
text-align: left;
color:#000066;
}

h2 {font-size: 1.3em;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-weight: bold;
text-align: left;}

h3 {font-size: 1.2em;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-weight: bold;
text-align: left;}

h4 {font-size: 1.1em;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-weight: bold;
text-align: left;}

h5 {font-size: 1em;
font-family: Verdana, Helvetica, Arial, sans-serif;
font-weight: bold;
text-align: left;}


p 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000066;
}

.p 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000066;
}
 
.greenText
{
	font-size: 12px;
	line-height: 18px;
	font-family: Arial, Helvetica, sans-serif;
	color: #87291F;
}

.greenHeaderText
{
	font-size: 18px;
	line-height: 27px;
	font-family: Arial, Helvetica, sans-serif;
	color: #87291F;
}

HR
{
	color:#336699; 
	width: 100%; 
	text-align: left
}

.menumouseover 
{
	font-family:Verdana;
	font-size: 12px;
	font-weight: bold;
	border: solid 2px #FFFFCC;
	padding: 2px 2px 2px 2px; 
	margin: 0px; 
	background: #336699;
	color: #FFFFFF;
	white-space: nowrap; 
	cursor: pointer;
	cursor:default; 
}

/************************************************************************************************
Layout CSS
************************************************************************************************/
#wrapper {
 width: 1000px;
 margin: 0px auto;
 padding:0px;
 text-align:center; 
}

#wrapper2
{
	width: 1000px;
 margin: 0px auto;
 padding:0px;
	border: 0px solid #D3E1F9;
	text-align:center; 
	
}

#header {
 margin: 0px;
 padding: 0px;
 background-color: white;
}

#navbar {
 border: 0px solid #ccc;
 margin: 0px 0px 0px 0px;
 padding: 0px;
 background-color: #A3A38F;
}

#leftcolumn { /* Parent Wrapper for inside boxes */
 margin: 0 0px 0px 0px;
 width: 240px;
 float: left;
 padding: 0px;

min-height:600px; 
height:auto!important; 
height:600px; 

background-color:#FBF3D4; 
}
 
#leftcolumnb { /* Parent Wrapper for inside boxes */
 margin: 0 0px 0px 0px;
 display: inline; /* IE Hack */
 width: 200px;
 float: left;
 padding: 0px;
 position:relative;
 border-right: 0px solid #D3E1F9;
	min-height:700px; 
	height:auto!important; 
	height:700px; 
}
 

#centercolumn { /* Parent Wrapper for inside boxes */
 margin: 0px 0px 0px 0px;
 display: inline; /* IE Hack */
 padding: 0px;
	width: 558px;
 float: left;
 
 min-height:900px; 
	height:auto!important; 
	height:900px; 
}
 

#centercolumn2 {
 border: 1px solid #D3E1F9;
 margin: 0 0px 0px 0px;
 display: inline; /* IE Hack */
 width: 100%;
 float: left;
 min-height: 300px;
 background-color:#FBF3D5;
}

#centercolumn4 {
 border: 1px solid #D3E1F9;
 margin: 0 0px 0px 0px;
 display: inline; /* IE Hack */
 width: 100%;
 float: left;
 min-height: 300px;
 /*background-color:#FBF3D5;*/
 background-color:Lime;
}


#withincentercolumn4 {
 border: 1px solid #D3E1F9;
 margin: 0 0px 0px 0px;
 display: inline; /* IE Hack */
 width: 100%;
 float: left;
 min-height: 300px;
 /*background-color:#FBF3D5;*/
 background-color:Gray;
 font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #000066;
}


#centercolumn3 {  /* Melissa testing DHAP */
 border: 1px solid #D3E1F9;
 margin: 0 0px 0px 0px;
 display: inline; /* IE Hack */

 float: left;
 min-height: 300px;
 /*background-color:#FBF3D5;*/
 background-color:Aqua;
  
 padding: 0px;
}


#rightcolumn {
 margin: 0 0px 0px 0px;
 padding: 0px;
 display: inline; /* IE Hack */
 width: 240px;
 float: left;
 border-left: 1px solid #D3E1F9;
 border-right: 1px solid #D3E1F9;
 border-bottom: 1px solid #D3E1F9;
 min-height:900px; 
	height:auto!important; 
	height:900px;
}
 


#footer 
{
	text-align:left;
 background-color: white;
 margin: 10px 0px 0px 0px;
 display: inline; /* IE Hack */
 padding: 0px 0px 50px 0px;
 float: left;
 width: 100%;
}


/* All the content boxes belong to the content class. */
.content2 {
	position:relative; /* Position is declared "relative" to gain control of stacking order (z-index). */
	width:auto;
	min-width:120px;
	margin:0px 0px 20px 255px;
	border-top:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px  solid #CCCCCC;
	background-color:white;
	min-height:450px; 
	height:auto!important; 
	height:450px; 
	padding:5px;
	top:1px;
	text-align:left;
	z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
	}



.content3
{
	position: relative; /* Position is declared "relative" to gain control of stacking order (z-index). */
	width: auto;
	min-width: 120px;
	margin: 0px 0px 10px 0px;
	border-top: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: white;
	min-height: 300px;
	height: auto !important;
	height: 300px;
	padding: 5px;
	top: 5px;
	text-align: left;
	z-index: 3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
}
 
 #content4 {
	position:relative; /* Position is declared "relative" to gain control of stacking order (z-index). */
	width:auto;
	min-width:120px;
	margin:0px 0px 20px 242px;
	background-color:white;
	min-height:450px; 
	height:auto!important; 
	height:450px; 
	padding:0px;
	top:0px;
	text-align:left;
	z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
	}
	

#navAlpha {
	position:absolute;
	height:200px;
	min-height:200px;
	text-align:left;
	width:250px;
	top:80px;
	left:0px;
	padding:0px;
	z-index:2;

/* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity. 
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it. 
IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style 
declaration. The incorrect IE5/Win value is above, while the correct value is 
below. See http://glish.com/css/hacks.asp for details. */
	voice-family: "\"}\"";
	voice-family:inherit;
	width:128px;
	}
	
#registerColumn
{
	/* Parent Wrapper for inside boxes */
	margin: 5px 5px 0px 5px;
	display: inline; /* IE Hack */
	padding: 4px;
	width: 68%;
	float: left;
	min-height: 370px;
}


#infoColumn
{
	margin: 5px 5px 0px 0px;
	padding: 4px;
	display: inline; /* IE Hack */
	width: 28%;
	float: left;
}

.style1, .style2, .style3, .style4, .style5, .style6, .style7, .style8
{
	 margin: 0 0 0 10px;
}

.style1 A:link, .style1 A:hover, .style1 A:visited {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: green;
	font-weight: bold; 
}


.style2 A:link, .style2 A:hover, .style2 A:visited{
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #5353BE;
	font-weight: bold; 
}
 
 
.style3 A:link, .style3 A:hover, .style3 A:visited {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #DC5252;
	font-weight: bold; 
}
 

.style4 A:link, .style4 A:hover, .style4 A:visited {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FE954C;
	font-weight: bold; 
}
 

.style5 A:link, .style5 A:hover, .style5 A:visited {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #184F36;
	font-weight: bold; 
}
 

.style6 A:link, .style6 A:hover, .style6 A:visited {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #787664;
	font-weight: bold; 
}
 

.style7 A:link, .style7 A:hover, .style7 A:visited {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #347EBC;
	font-weight: bold; 
}
 

.style8 A:link, .style8 A:hover, .style8 A:visited {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #5E2527;
	font-weight: bold; 
}
 

/*
**********************************************************************************************
Text CSS
***********************************************************************************************/

.HeaderText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #336699; 
	font-weight:bold; 
}

.BulletText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #706E71; 
	font-weight:bold; 
}

.loginText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #706E71; 
}

.whiteBoldtext
{
   font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #FFFFFF;  
	font-weight:bold; 
}

.regnonreq
{
   font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
}

.regreq
{
   font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	color: #000066;
}

.regreq2
{
   font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 20px;
	color: #FF0000;
}

.reginfo
{
   font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: italic;
	line-height: 12px;
	color: #000000;
}

.orangelink_u {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FF8000;
	font-weight: bold;
}

.orangelink_u:link, .orangelink_u:visited
{
  	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FF8000;
	font-weight: bold; 
}
.orangelink_u:hover
{
  	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #FF8000;
	font-weight: bold; 
	cursor: pointer;
	cursor:default;
}

.heartAgeText_bold
{
	font-family:Verdana;
	color:#1353A2;
	font-weight:bold;
}


.Passwordstrenght_TextIndicator
{
		background-color:Gray;
     color:White;
     
     font-family:Arial;
     font-size:x-small;
     font-style:italic;  
     padding: 2px 3px 2px 3px;   
}

/***************************************************************************
Background CSS
****************************************************************************/
.bg_style_1
{
	width:0px auto;
	background-image: url(Images/loginbg.gif);
	background-repeat:repeat;
}
 

/*****************************************************************
Box CSS
******************************************************************/
.statusHeader
{
  color:#18397c;
  background-color:white;
  background-position:bottom left;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_status_not_eligible.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
  margin:0px;
  padding-left:5px;
}

.statusHeader_new
{
  color:#18397c;
  background-color:white;
  background-position:bottom left;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_status_active.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
  margin:0px;
  padding-left:5px;
}

.statusHeader_active
{
  color:#18397c;
  background-color:white;
  background-position:bottom left;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_status_active.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
  margin:0px;
  padding-left:5px;
}

.statusHeader_action_required
{
  color:#18397c;
  background-color:white;
  background-position:bottom left;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_status_action_required.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
  margin:0px;
  padding-left:5px;
}

.statusHeader_not_eligible
{
  color:#18397c;
  background-color:white;
  background-position:bottom left;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_status_not_eligible.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
  margin:0px;
  padding-left:5px;
}
 


.sidebox_blue
{
	padding:0px; 
	margin: 0 auto; /* center for now */
	width: 26em; /* ems so it will grow */
	background: url(Images/sbbody-r_blue.gif) no-repeat bottom right;
	font-size: 100%;
}
.sidebox_blue2
{
	padding:0px; 
	margin: 0 auto; /* center for now */
	width: 26em; /* ems so it will grow */
	background: url(Images/sbbody-r_blue2.gif) no-repeat bottom right;
	font-size: 100%;
}

.sidebox_light
{
	padding:0px; 
	margin: 0 auto; /* center for now */
	width: 26em; /* ems so it will grow */
	background: url(Images/sbbody-r_light.gif) no-repeat bottom right;
	font-size: 100%;
}

.sidebox_light2
{
	padding:0px; 
	margin: 0 auto; /* center for now */
	width: 26em; /* ems so it will grow */
	background: url(Images/sbbody-r_light2.gif) no-repeat bottom right;
	font-size: 100%;
}

.boxhead_blue
{
	background: url(Images/sbhead-r_blue.gif) no-repeat top right;
	margin: 0;
	padding: 0;
	text-align: center;
}

.boxhead_blue2
{
	background: url(Images/sbhead-r_blue2.gif) no-repeat top right;
	margin: 0;
	padding: 0;
	text-align: center;
}



.boxhead_green
{
	background: url(Images/sbhead-r_green2.gif) no-repeat top right;
	margin: 0;
	padding: 0;
	text-align: center;
}


.boxhead_blue h2 
{
	background: url(Images/sbhead-l_blue.gif) no-repeat top left;
	margin: 0;
	padding: 22px 30px 5px;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}

.boxhead_blue2 h2 
{
	background: url(Images/sbhead-l_blue2.gif) no-repeat top left;
	margin: 0;
	padding: 40px 30px 5px;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}
 
.boxhead_green h2 
{
	background: url(Images/sbhead-l_green2.gif) no-repeat top left;
	margin: 0;
	padding: 22px 30px 5px;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1em;
	text-shadow: rgba(0,0,0,.4) 0px 2px 5px; /* Safari-only, but cool */
}


.boxbody_blue
{
	background: url(Images/sbbody-l_blue.gif) no-repeat bottom left;
	margin: 0;
	padding: 5px 30px 31px;
	text-align: left;
}

.boxbody_blue2
{
	background: url(Images/sbbody-l_blue2.gif) no-repeat bottom left;
	margin: 0;
	padding: 5px 30px 31px;
	text-align: left;
}
.boxbody_light
{
	background: url(Images/sbbody-l_light.gif) no-repeat bottom left;
	margin: 0;
	padding: 5px 30px 31px;
	text-align: left;
}

.boxbody_light2
{
	background: url(Images/sbbody-l_light2.gif) no-repeat bottom left;
	margin: 0;
	padding: 5px 30px 31px;
	text-align: left;
}


.md
{
	background:#fff;
	border:1px solid #b0bec7;
	position:relative;
	margin:0 0 10px;
}

.bd{

    border:1px solid #dde4ea;
    border-color:#afbdc6 #556b78 #556b78 #afbdc6;
    border:1px solid #fff;
    border-width:0 1px 1px 0;
    padding:5px 10px 10px;
    
  }
  
 

  .hd{
    
  color:#18397c;
  background-color:#DDEEAA;
  background-position:bottom left;
  border:1px solid #b0bec7;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/grd-1px_1_2.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
    margin:-1px -1px 0;
}


.hd_diet
{
	color:#18397c;
  background-color:#DDEEAA;
  background-position:bottom left;
  border:1px solid #b0bec7;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_diet.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
    margin:-1px -1px 0;
}

.hd_exercise
{
 color:#18397c;
  background-color:#DDEEAA;
  background-position:bottom left;
  border:1px solid #b0bec7;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_exercise.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
    margin:-1px -1px 0;
}

.hd_quitsmoking
{
	color:#18397c;
  background-color:#DDEEAA;
  background-position:bottom left;
  border:1px solid #b0bec7;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_quitsmoking.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
    margin:-1px -1px 0;
}

.hd_cholesterol
{
	color:#18397c;
  background-color:#DDEEAA;
  background-position:bottom left;
  border:1px solid #b0bec7;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_cholesterol.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
    margin:-1px -1px 0;
}

.hd_highpressure
{
	color:#18397c;
  background-color:#DDEEAA;
  background-position:bottom left;
  border:1px solid #b0bec7;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_highpressure.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
    margin:-1px -1px 0;
}

.hd_mygateway
{
  color:#18397c;
  background-color:#FCF6E7;
  background-position:bottom left;
  border:1px solid #b0bec7;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_mygateway.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
    margin:-1px -1px 0;
}

.hd_rewards
{
  color:#18397c;
  background-color:#FCF6E7;
  background-position:bottom left;
  border:1px solid #b0bec7;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_reward.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
  margin:-1px -1px 0;
}


.hd_earnedpoints
{
	color:#18397c;
  background-color:#FCF6E7;
  background-position:bottom left;
  border:1px solid #b0bec7;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_earnedpoints.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
    margin:-1px -1px 0;
}

.hd_teampoints
{
	color:#18397c;
  background-color:#FCF6E7;
  background-position:bottom left;
  border:1px solid #b0bec7;
  border-bottom:1px solid #93a6b4;
  background-image:url(Images/hd_teampoints.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
    margin:-1px -1px 0;
}

.hd_rewards img 
{
	margin: 0px; 
	padding: 0px; 
}

.hd_teampoints h2, .hd_earnedpoints h2, .hd_rewards h2, .hd_mygateway h2, .hd_diet h2, .hd_exercise h2, .hd_quitsmoking h2, .hd_cholesterol h2, .hd_highpressure h2{
position:relative;
font:bold 100% arial;
padding:1px 11px;
left:10px;
top:8px;  
}

.hd2{

border-collapse:collapse;
  color:#18397c; 
  height:25px;
  padding: 0 0 0 10px;
  background-color:#DDEEAA;
  background-position:bottom left;
  border:1px solid #b0bec7;
  border-bottom:1px solid #93a6b4;
  background-image:url(/Images/grd-1px_1_2.gif);
  background-repeat:repeat-x;
  border-color:#aec0ce #3d5360 #3d5360 #aec0ce;
  position:relative;
    margin:-1px -1px 0;
}


.hd h2{
position:relative;
font:bold 100% arial;
padding:1px 11px;
left:10px;
top:8px;
}

/*************************************************************************
Gradient Color CSS
**************************************************************************/
.gradient_purple_down
{
	background: url(Images/gradient_purple_down.gif) background-repeat bottom left;
}

.gradient_green_left{
   FILTER:progid:DXImageTransform.Microsoft.Gradient(startColorstr='#79AB86', endColorstr='#F2F7F3', gradientType='1');
}

.diet_gradient
{
	background-image: url('Images/diet_gradient.gif');
	background-repeat: repeat-y;
}

.exercise_gradient
{
	background-image: url('Images/exercise_gradient.gif');
	background-repeat: repeat-y;
}

.quitsmoking_gradient
{
	background-image: url('Images/quitsmoking_gradient.gif');
	background-repeat: repeat-y;
}

.cholesterol_gradient
{
	background-image: url('Images/cholesterol_gradient.gif');
	background-repeat: repeat-y;
}

.highpressure_gradient
{
	background-image: url('Images/highpressure_gradient.gif');
	background-repeat: repeat-y;
}

.quicktool_gradient
{
	background-image: url('Images/quicktool_gradient.gif');
	background-repeat: repeat-y;
}

.bookshelf_gradient
{
	background-image: url('Images/bookshelf_gradient.gif');
	background-repeat: repeat-y;
}

.progresslogs_gradient
{
	background-image: url('Images/progresslogs_gradient.gif');
	background-repeat: repeat-y;
}

.askahealthcoach_gradient
{
	background-image: url('Images/askahealthcoach_gradient.gif');
	background-repeat: repeat-y;
}

.testimonial_gradient
{
	background-image: url('Images/testimonial_gradient.gif');
	background-repeat: repeat-y;
}

.messagecenter_gradient
{
	background-image: url('Images/messagecenter_gradient.gif');
	background-repeat: repeat-y;
}

.mygateway_gradient
{
	background-image: url('Images/mygateway_gradient.gif');
	background-repeat: repeat-y;
}

.myreward_gradient
{
	background-image: url('Images/myreward_gradient.gif');
	background-repeat: repeat-y;
}
 
.teampoint_gradient
{
	background-image: url('Images/teampoint_gradient.gif');
	background-repeat: repeat-y;
}


.gradient_green_left
{
	background-image: url('Images/gradient_green_left.gif');
	background-repeat: repeat-y;
}


.gradient_ahk_bottom
{
	background-image: url('Images/gradient_ahk_bottom.gif');
	background-repeat: repeat-x;
}

.heartage_gradient
{
	background-image: url('Images/heartage_gradient.gif');
	background-repeat: repeat-y;
}


/*************************************************************************
Menu CSS
**************************************************************************/
/*- Menu 11--------------------------- */
	
#menu11 
{
	width: 250px;
	margin: 0px;
	border-style: solid solid none solid;
	border-color: #889944;
	border-width: 1px;
	}

#menu11 ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu11 li a 
{
	list-style-type:none;
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	color: #336699;
	display: block;
	background:  url(Images/menu11b.gif);
	padding: 8px 0 0 5px;
	
	}	
	
#menu11 li a:link, #menu11 li a:visited {
	color: #336699;
	display: block;
	background:  url(Images/menu11b.gif);
	padding: 8px 0 0 5px;
	}
	
#menu11 li a:hover {
	color: #889944;
	background:  url(Images/menu11b.gif) 0 -32px;
	padding: 8px 0 0 5px;
	}


#menu11b
{
	width: 200px;
	margin: 0px;
	border-style: none none none none;
	border-color: #889944;
	border-width: 1px;
	}

#menu11b ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu11b li a 
{
	list-style-type:none;
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	color: #336699;
	display: block;
	background:  url(Images/menu11b.gif);
	padding: 8px 0 0 5px;
	 border-style:none solid none solid;
	 border-color: #889944;
	border-width: 1px;
	 
	}	
	
#menu11b li a:link, #menu11b li a:visited {
	color: #336699;
	display: block;
	background:  url(Images/menu11b.gif);
	padding: 8px 0 0 5px;
	}
	
#menu11b li a:hover {
	color: #889944;
	background:  url(Images/menu11b.gif) 0 -32px;
	padding: 8px 0 0 5px;
	}


 
#menu11c
{
	width: 200px;
	margin: 0px;
	border-style: none none none none;
	border-color: #889944;
	border-width: 1px;
	}

#menu11c ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu11c li a 
{
	list-style-type:none;
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	color: #336699;
	display: block;
	background:  url(Images/menu11b.gif);
	padding: 8px 0 0 5px;
	 border-style:none solid none solid;
	 border-color: #889944;
	border-width: 1px;
	 
	}	
	
#menu11c li a:link, #menu11c li a:visited {
	color: #336699;
	display: block;
	background:  url(Images/menu11b.gif);
	padding: 8px 0 0 5px;
	}
	
#menu11c li a:hover {
	color: #889944;
	background:  url(Images/menu11b.gif) 0 -32px;
	padding: 8px 0 0 5px;
	}

#menu11d
{
	width: 240px;
	margin: 0px;
	border-style: none none none none;
	border-color: #889944;
	border-width: 1px;
	}

#menu11d ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu11d li a 
{
	list-style-type:none;
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	color: #336699;
	display: block;
	background:  url(Images/menu11b.gif);
	padding: 8px 0 0 5px;
	 border-style:none solid none solid;
	 border-color: #889944;
	border-width: 1px;
	 
	}	
	
#menu11d li a:link, #menu11d li a:visited {
	color: #336699;
	display: block;
	background:  url(Images/menu11b.gif);
	padding: 8px 0 0 5px;
	
	}
	
#menu11d li a:hover {
	color: #889944;
	background:  url(Images/menu11b.gif) 0 -32px;
	padding: 8px 0 0 5px;
	}

#menu11d li a.highlight
{
	color: #889944;
	background:  url(Images/menu11b.gif) 0 -32px;
	padding: 8px 0 0 5px;
}

#menu11d li a.unhighlight
{
	color: #336699;
	display: block;
	background:  url(Images/menu11b.gif);
	padding: 8px 0 0 5px;
}

.menu11d
{
	width: 240px;
	margin: 0px;
	border-style: none none none none;
	border-color: #889944;
	border-width: 1px;
}

.menu11d ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

.menu11d li a 
{
	list-style-type:none;
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	color: #336699;
	display: block;
	background:  url(Images/menu11b.gif);
	padding: 8px 0 0 5px;
	 border-style:none solid none solid;
	 border-color: #889944;
	border-width: 1px;
	 
	}	
	
.menu11d li a:link, #menu11d li a:visited {
	color: #336699;
	display: block;
	background:  url(Images/menu11b.gif);
	padding: 8px 0 0 5px;
	
	}
	
.menu11d li a:hover {
	color: #889944;
	background:  url(Images/menu11b.gif) 0 -32px;
	padding: 8px 0 0 5px;
	text-decoration:none;
	}

.menu11d li a.highlight
{
	color: #889944;
	background:  url(Images/menu11b.gif) 0 -32px;
	padding: 8px 0 0 5px;
}

.menu11d li a.unhighlight
{
	color: #336699;
	display: block;
	background:  url(Images/menu11b.gif);
	padding: 8px 0 0 5px;
}

#menu11e
{
	width: 240px;
	margin: 0px;
	border-style: none none none none;
	border-color: #889944;
	border-width: 1px;
	}

#menu11e ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}

#menu11e li a 
{
	list-style-type:none;
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	color: #336699;
	display: block;
	background:  url(Images/menu.gif);
	padding: 8px 0 0 5px;
	 border-style:none solid none solid;
	 border-color: #BCD2E6;
	border-width: 1px;
	 
	}	
	
#menu11e li a:link, #menu11e li a:visited {
	color: #336699;
	display: block;
	background:  url(Images/menu.gif);
	padding: 8px 0 0 5px;
	
	}
	
#menu11e li a:hover {
	color: #889944;
	background:  url(Images/menu.gif) 0 -32px;
	padding: 8px 0 0 5px;
	}
	



.menu {
	width: 240px;
	padding: 0px; 
	margin: 0px;
	border-style: solid solid none solid;
	border-color: #BCD2E6;
	border-width: 1px;
	text-align:left;
	}
	
.menu a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
	}	
	
.menu a:link, .menu a:visited {
	color: #4D78A0;
	display: block;
	background:  url(Images/menu.gif);
	padding: 8px 0 0 10px;
	}
	
.menu a:hover {
	color: #A1991A;
	background:  url(Images/menu.gif) 0 -32px;
	padding: 8px 0 0 10px;
	}
	    
/*- Menu 12--------------------------- */
	
#menu12 {
	width: 200px;
	margin: 10px;
	}
	
#menu12 li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 22px;
	text-decoration: none;
	}	
	
#menu12 li a:link, #menu12 li a:visited {
	color: #666;
	display: block;
	background:  url(Images/menu12.gif);
	padding: 10px 0 0 35px;
	}
	
#menu12 li a:hover {
	color: #000;
	background:  url(Images/menu12.gif) 0 -32px;
	padding: 10px 0 0 35px;
	}
	

	
/*- Menu 13--------------------------- */
	
	
#menu13 {
	width: 200px;
	margin: 5px 0px 5px 1px;
	}

#menu13 ul 
{
	list-style: none;
	margin: 0;
	padding: 0;
}
	
#menu13 ul li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 24px;
	text-decoration: none;
    background-color: #F3DB85;
	}	
	
#menu13 ul li a:link, #menu13 ul li a:visited {
	color: #33659A;
	display: block;
	background:  url(Images/menu13c.gif);
	padding: 8px 0 0 10px;
	}
	
#menu13 ul li a:hover {
	color: #A84006;
	background:  url(Images/menu13d.gif) 0 -32px;
	padding: 8px 0 0 10px;
	}

#menu13 ul li ul
{
	list-style: none;
	margin: 0;
	padding: 0 10px 0 10px;
}
	
#menu13 ul li ul li a {
	height: 29px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;
  	height: 21px;
	text-decoration: none;
	}	
	
#menu13 ul li ul li a:link, #menu13 ul li ul li a:visited {
	color: #C7377D;
	display: block;
	 background:  url(Images/menu13d.gif);
	padding: 8px 0 0 10px;
	}
	
#menu13 ul li ul li a:hover {
	color: #C7377D;
	background:  url(Images/menu13d.gif) 0 -29px;
	padding: 8px 0 0 10px;
	}
	
table.cellT
{
	padding:5px;
	text-align:left;
}

table.helpT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 500px;
background-color: #fafafa;
 
border-collapse: collapse;
border-spacing: 0px; } 

td.helpHed
{ border-bottom: 2px solid #7DA634;
text-align: left;
text-indent: 5px;
font-family: Verdana;
font-weight: bold;
font-size: 12px;
color: #9DBA75; }

td.helpBod
{ border-bottom: 1px solid #9CF;
border-top: 0px;
border-left: 1px solid #9CF;
border-right: 0px;
text-align: left;
text-indent: 10px;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
font-size: 11px;
color: #404040;
background-color: #fafafa; }

table.sofT
{ text-align: center;
font-family: Verdana;
font-weight: normal;
font-size: 11px;
color: #404040;
width: 100%;
background-color: #fafafa;
border-collapse: collapse;
border-spacing: 0px; 
} 


/*******************************************************************************************/
.noneheaderTable
{
	margin:10px;
	width:95%;
	text-align:left;
}

.noneheaderTable caption
{
	font-family: Arial, Helvetica, sans-serif;
   	font-size: 14px;
	line-height: 20px;
   	color: #336699;
   	font-weight:bold;
   	text-align:left;
}

.caption
{
	font-family: Arial, Helvetica, sans-serif;
   	font-size: 14px;
	line-height: 20px;
   	color: #336699;
   	font-weight:bold;
   	text-align:left;
}

/************************************************************************************************/
.menuTabs
{
	position:relative;
    top:1px;
    left:10px;
}

.menuTabs a:link, .menuTabs a:visited {
	color: #336699;
	font-weight: bold;
text-decoration: none;
	}
	
.menuTabs a:hover {
	color: #a13630;
	font-weight: bold;
	text-decoration: none;
	}
	

.tab
{
    border:Solid 1px black;
    padding: 0px 10px;
    background-color:#eeeeee;
}
.selectedTab
{
    border:Solid 1px black;
    border-bottom:Solid 1px white;
    padding: 0px 10px;
    background-color:white;
}
.tabBody
{
	margin-top:1px;
    border:Solid 1px black;
    padding: 20px;
    background-color:white;
}


.unwatermarked {
	height:18px;
	width:148px;
	font-weight:bold;
}

.watermarked {
	height:18px;
	width:140px;
	padding:2px 0 0 2px;
	border:1px solid #BEBEBE;
	background-color:#F0F8FF;
	color:gray;
}

.hiddencol
{
    display:none;
}
.viscol
{
    display:block;
}





a.tt{
    position:relative;
    z-index:1;
    color:#336699;
 
    text-decoration:none;
    
}
a.tt span{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt:hover{ z-index:25; color: #336699;  }
a.tt:hover span.tooltip{
    display:block;
    position:absolute;
    top:0px; 
    left:0;
	padding: 0px;
	width:300px;
	color: white;
    text-align: left;
}
a.tt:hover span.top{
	display: block;
	padding: 5px;
    background: url(Images/bubble.gif) no-repeat top;
}
a.tt:hover span.middle{ /* different middle bg for stretch */
	font-weight:normal;
	display: block;
	padding: 10px 8px 10px 8px; 
	background: url(Images/bubble_filler.gif) repeat bottom; 
}
a.tt:hover span.bottom{
	display: block;
	padding:3px 8px 10px;
	color: #548912;
    background: url(Images/bubble.gif) no-repeat bottom;
}
   .roundedcornr_box_321752 {
   background: #ffff9a url(Images/roundedcornr_321752_grad.gif) repeat-x top left;
}
.roundedcornr_top_321752 div {

   background: url(Images/roundedcornr_321752_tl.gif) no-repeat top left;
}
.roundedcornr_top_321752 {
   background: transparent url(Images/roundedcornr_321752_tr.gif) no-repeat top right;
}
.roundedcornr_bottom_321752 div {
   background: url(Images/roundedcornr_321752_bl.gif) no-repeat bottom left;
}
.roundedcornr_bottom_321752 {
   background: transparent url(Images/roundedcornr_321752_br.gif) no-repeat bottom right;
}

.roundedcornr_top_321752 div, .roundedcornr_top_321752,
.roundedcornr_bottom_321752 div, .roundedcornr_bottom_321752 {
   width: 100%;
   height: 20px;
   font-size: 1px;
}
.roundedcornr_content_321752 { margin: 0 20px; }
.roundedcornr_content_321752 h2
{
    margin: 0;
    text-align:left;
	padding: 10px 30px 5px 0px;
	color: #336699;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 1em;
}

.fancyButton
{
 background-color: #D3E1F9;
 color:#4771A2;
 border:Outset;
 font-weight:bold;
}
 
.collapsePanel
{
    background-color: White;
    overflow: hidden;
} 


.orangelink {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #FF8000;
	font-weight: bold;
	text-decoration: none;
}


.accordionContent 
{
	color: #FFFFFF;
    background-color: #D3DEEF;
    border: 0px;
    border-top: none;
    padding: 0px;
    padding-top: 0px;
}

.accordionHeader
{

    font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #FFFFFF;  
	font-weight:bold; 
	text-align:left; 
	border: 1px solid #2F4F4F;
	background-color: #450000;
	padding: 5px;
    margin-top: 5px;
}

.accordionHeader2 
{
    border: 1px solid #2F4F4F;
    text-align: left;
    background-color: #2E4d7B;
    color: white;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
    padding: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.accordionHeader a,  .accordionHeader2 a
{
	color: #FFFFFF;
	font-family: Arial, Sans-Serif;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.accordionHeader a:hover, .accordionHeader2 a:hover 
{
	color: #FFFFFF;
	text-decoration: underline;
}




/*
	ItemStyle
*/
.itemBodyStyle, .commentBodyStyle {
	margin: 0px;
	padding-bottom: 1em;
	font-family: Verdana;
	font-weight: normal;
}

.itemBoxStyle, .commentBoxStyle, .commentViewBoxStyle {
	border: 1px solid;
	border-color:#7F9DB9;
	padding-top: 8px;
	padding-bottom: 5px;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 15px;
	text-decoration: none;
	/*filter: progid:DXImageTransform.Microsoft.Shadow(color=#707070,direction=115,strength=5);*/
}

.itemCategoryLinksStyle {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	font-family: verdana, sans-serif;
	font-weight: normal;
	text-align: right;
}

.itemFooterStyle, .commentBoxFooterStyle {
	border-top: 1px dotted;
	padding-top: 8px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	font-family: Verdana;
	font-weight: normal;
	line-height: 100%;
	text-align: right;
}

.itemReadMoreStyle {
	width: 100%;
	padding-top: 1em;
	text-align: left;
}

.itemTitleStyle {
	padding-top: 8px;
	padding-bottom: 5px;
	margin-bottom: 0px;
	border-bottom: 1px dashed;
	font-family: Verdana;
	font-weight: bold;
	line-height: 100%;
	text-align: left;
}

.navigatorLinksCellStyle { }

.navigatorLinksContainerStyle { }

.navigatorLinksLinkStyle { }

.navigatorLinksTableStyle { }

.newsItems { }

.pageTopic {
	padding-top: 5px;
	padding-bottom: 5px;
	font-family: Georgia;
	font-weight: bold;
}

.searchButtonStyle {
	
}	

.searchTextBoxStyle {
}

.side {
	padding: 5px 5px 5px 5px;
	padding-left: 10px;
	margin-right: 10px;
}

.sidetitle {
	padding: 2px;
	margin-top: 10px;
	border-bottom: 1px dotted;
	font-family: verdana, sans-serif;
	font-weight: bold;
	line-height: 14px;
	letter-spacing: .1em;
}

.signInPasswordTextBoxStyle { width: 160px; }

.signInTableStyle { }

.signInUsernameTextBoxStyle { width: 160px; }

.siteName, .siteName a, .siteName a:visited, .siteName a:hover, .siteName a:active, .siteName a:link {
	font-size: 1.5em;
	font-weight: normal;
	font-family: Georgia;
	letter-spacing: .2em;
	text-decoration: none;
	text-transform: uppercase;
}

.titleListCellStyle { }

.titleListStyle { }

.trackbackLinkStyle { }

.tableStyle
{
	width:100%;
	background-color:#FFF; 
	border-collapse:collapse;
}

.cellStyle
{
	background-color:#F7F6F3;
	border:1px solid #CCCCCC; 
	padding:5px; 
}

.cellStyle2
{
	background-color:#FFF;
	border:1px solid #CCCCCC; 
	padding:5px;
}
 
.buttonStyle
{	
	background-color:#F7F6F3;
	border-color:#959595;
    border-style:solid;
	font-weight:bold;
	color:#7F7F7F;
}

.textStyle
{
	font-family:Arial;
	font-weight:bold;
	color:#7F7F7F;
	font-size:small;
}

.collapsePanel
{
    background-color: White;
    overflow: hidden;
    width:100%; 
} 

.collapsePanel .collapseHeader
{
	padding: 5px; 
	cursor: pointer; 
	vertical-align: middle; 
	font-weight: bold; 
	text-decoration: underline; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 16px;
	color: #FF8000;
 
}

.collapsePanel .collapseContent 
{
	padding-left: 20px; 
	padding-top: 5px; 
	padding-bottom: 10px; 
	background-color: #F4F9E3;
}


.collapsePanel .collapseContent table 
{
 
	border-spacing: 5px; 
	width:100%; 
	border-collapse:collapse; 
	border-top: solid 1px #2E4D7B; 
	border-left: solid 1px #2E4D7B;  

}

.collapsePanel .collapseContent table td
{
	border-bottom: solid 1px #2E4D7B; 
	border-right: solid 1px #2E4D7B;  
	padding:5px; 
	vertical-align:top; 
}

    .squarebox {
        width: 100%;
        border: solid 1px #336699;
        text-align: center;
        overflow: hidden; }
    .squareboxgradientcaption {
        color: #ffffff;
        padding: 5px;
        background-image: url(../images/gradient_blue.png);
        background-repeat: repeat-x; }
    .squareboxcontent {
        background-color: #f5f5f5;
        padding: 10px;
        overflow: hidden;
        border-top: solid 1px #336699; }


.actionPlan
{
	font-size:medium; 
}


.action ul
{
	font-weight:bold; 
}

.actionPlan li
{
	padding: 10px 5px 5px 5px;
}


modalBackground
{
	width:100%; 
	background-color:Olive; 
  filter:alpha(opacity=70);
  opacity:0.7; 
}



.ModalWindow

{

  border: solid1px#c0c0c0;

  background:#f0f0f0;

  padding: 0px10px10px10px;

  position:absolute;

  top:-1000px;

}

.ModalPanel
{
	 background-color:#ffffdd; 
              border-width:3px; 
              border-style:solid; 
              border-color:Gray; 
              padding:3px; 
              width:250px; 

}

/* Added 10/31/2012 - MJF
************************************************************************/

td.TableHeader
{
    padding: 10px; 
    background-color: #FFCD9B; 
    font-weight: bold; 
    color: #336699;
    text-align: left;
}

td.TableBody
{
    background-color: #FFFBD6;
    color: #000066;
    font-weight: bold;
    padding: 10px; 
    margin-left: 20px;
    text-align: left;
}

td.TableLabel
{
    background-color: #FFF; 
    border-style: inset; 
    text-align:right;
}

/*  Added for DHAP - M Asher - 5/22/2013 */
.inner {
    width: 50%;
    margin: 0 auto;
}

div.centered {  /*used with DHAP Forms and others*/
 position: absolute;
  left: 40%;
  margin-left: -100px;
}



.wideColumn{ width:33%;}
/*.narrowColumn{ width:15%;}*/
.narrowColumn{ width:70px; background-color:Fuchsia;}
.verynarrowColumn{ width:10px; border: 1px solid black;}  /*3%*/

.RadioButtonList
{
	font-size: 1.2em;
	line-height: 1.4em;
	vertical-align: top;
}

.tab 
{ 
    margin-left: 10px; 
    background-color:#FBF3D5; /*yellow*/
    border: 0px;

}

span.tabindent  /*For use on DHAP Assessment pages*/
{ 
    margin-left: 20px; 
    background-color:#FBF3D5; /*yellow*/
    border: 0px;

}

.invisible  /*For use on DHAP Assessment pages*/
{ 
    display:none;
}
   
table.dhap { table-layout: fixed;
        margin-left: 2em;
        margin-right: 2em }
        
th.dhap { width: 5em }



table.dhapvisitstable table { border: 1px solid #000000; empty-cells: show; width: 80%}

Grid
{
border-style:solid;
border-width: 2px;
border-bottom-color:Black;
border-top-color: Black;
border-left-color:Black;
border-right-color:Black;


}


table.assessmentheader{
    border: 1px solid black;
    table-layout: fixed;
    /*width: 200px;*/
    width:500px;
     min-width:400px;
    max-width:800px;
    background-color: yellow; 
    text-align: left;
 
}




td.assessmentbreak{
    /*overflow: hidden;*/
   /*background-color: orange;*/
    table-layout: fixed;
    word-break: break-all;
}



.Grid th
{

border-width: 2px;
border-bottom-color:Black;
border-top-color: Black;
border-left-color:Black;
border-right-color:Black

}

.Grid td
{
border-width: 2px;
border-bottom-color:Black;
border-top-color: Black;
border-left-color:Black;
border-right-color:Black

}

textarea {
    resize: none;
}



     